.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: aliceblue;
}

.titulo {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--cor-primaria);
    text-align: center;
}

.subtitulo {
    font-size: 0.9rem;
    color: var(--cor-texto-suave);
    margin-top: -1rem;
    text-align: center;
}

.mensagem {
    font-size: 1.2rem;
    font-style: italic;
    color: var(--cor-primaria);
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 1rem;
    justify-content: center;
}

.graficos {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1.5rem;
    margin-top: 50px;
    justify-content: center;
}

.grafico {
    background-color: var(--cor-superficie);
    border: 1px solid white;
    border-radius: var(--raio-borda);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 600px;
    overflow: hidden;
    box-shadow: 1px 5px 8px 0px #6b63ff3b;
}

.tituloGrafico {
    font-size: 1rem;
    font-weight: 600;
    color: var(--cor-texto-suave);
}

.erro {
    color: var(--cor-erro);
    font-size: 0.85rem;
}

.carregando {
    color: var(--cor-texto-suave);
    font-size: 0.9rem;
}