* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-primaria: #6c63ff;
    --cor-secundaria: #676F54;
    --cor-superficie: #E5D4C0;
    --cor-fundo: #E5DAFB;
    --cor-itens: #FF521B;
    --cor-borda: white;
    --cor-texto: #ffffff;
    --cor-texto-suave: #2A4849;
    --cor-erro: #ff4d4d;
    --cor-sucesso: #4caf50;
    --raio-borda: 8px;
}

body {
    background-color: var(--cor-fundo);
    background-image: url('../../assets/fundo\ immerly.png');
    background-position: center;
    background-size: cover;
    color: var(--cor-texto);
    font-family: 'Segoe UI', sans-serif;
    min-height: 100vh;
    width: 100%;
}

input {
    font-family: inherit;
}

button {
    cursor: pointer;
    font-family: inherit;
}