.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}

.main {
    flex: 1;
    max-width: 100%;
    overflow-x: hidden;
    background-color: var(--cor-superficie);
    background-image: linear-gradient(rgba(233, 217, 213, 0.849), rgba(243, 230, 230, 0.6)), url('../../assets/fundo-immerly.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
[data-tema="escuro"] main {
    background-image: linear-gradient(rgba(13, 13, 31, 0.85), rgba(13, 13, 31, 0.75)), url('../../assets/fundo-immerly-escuro.png');
}