.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    width: 100%;
}

.graficos {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    width: 100%;
}

@media (max-width: 768px) {
    .graficos {
        flex-direction: column;
    }
}