
.secao {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 100vw;
    padding: 1rem;
} 

.titulo {
    font-size: 1rem;
    font-weight: 800;
    color: var(--cor-texto);
    background-image: linear-gradient( to right, transparent, var(--cor-texto-suave) 50%, transparent) ;
    padding: 0.45rem;
    min-width: 100%;
    margin: 0 auto;
} 

.paginacao {
    display: none;
}

.faixa {
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
    overflow-x: auto;
    padding: 0.75rem 1rem;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.faixa > * {
        flex: 0 0 85%;
        scroll-snap-align: start;
        box-sizing: border-box;
    }

.faixa::-webkit-scrollbar {
    height: 6px;
}

.faixa::-webkit-scrollbar-track {
    background: var(--cor-borda);
    border-radius: 999px;
    
}

.faixa::-webkit-scrollbar-thumb {
    background: var(--cor-primaria);
    border-radius: 999px;
}

@media (min-width: 576px) {

    .faixa {
        overflow-x: hidden;
        justify-content: center;
    }

    .paginacao {
        display: block;
    }
}
