.grupo {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    max-width: 150px;
    height: 100px;
}

.label {
    font-size: 0.90rem;
    font-weight: 400;
    color: var(--cor-texto-suave);
    margin-top: 1.3rem;
}

.input {
    background-color: var(--cor-fundo-input);    
    border: 1px solid var(--cor-borda);
    border-radius: var(--raio-borda);
    padding: 0.60rem 1rem;
    margin-bottom: 0.5rem;
    height: fit-content;
    color: var(--cor-texto-suave);
    font-size: 0.95rem;
    font-weight: 500;
    transition: border-color 0.2s;  
}

.input:focus {
    border-color: var(--cor-primaria);
    box-shadow:0 0px 16px 0 var(--cor-texto);
    outline: none;
}

@media (max-width: 768px) {

    .grupo {
        height: 50px;
    }

    .label {
        text-align: center;
        margin: 0;
    }

    .input {
        padding: 0.45rem;
        margin: 0;
        width: 90%;
    }
}