.botao {
    background-color: var(--cor-itens);
    color: #ffffff;
    border: none;
    border-radius: var(--raio-borda);
    padding: 0.6rem 1rem;
    font-size: 0.8rem;
    font-weight: 600;
    transition: background-color 0.2s, transform 0.1s;
    cursor: pointer;
}

.botao:hover {
    background-color: var(--cor-primaria);
}

.botao:active {
    transform: scale(0.95);
}


@media (min-width: 576px) {
    .botao {
        margin: 0 auto;
        margin-top: 15px;
        width: 220px;
    }
}