.card {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    background-color: var(--cor-superficie);
    border-radius: var(--raio-borda);
    padding: 1.5rem;
    gap: 0.5rem;
    width: 200px;
    text-align: center;
    box-shadow: 1px 5px 8px 0px #6b63ff5b;
}

.titulo {
    font-size: 0.85rem;
    color: var(--cor-texto-suave);
}

.valor {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--cor-primaria);
}

.sufixo {
    font-size: 1rem;
    font-weight: 400;
    color: var(--cor-texto-suave);
}