.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../../assets/fundo\ immerly.png');
    background-position: center;
    background-size: cover;
}

.card {
    background-color: var(--cor-superficie);
    border: 1px solid #ffffff;
    border-radius: var(--raio-borda);
    padding: 2.5rem;
    width: 100%;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
}

.titulo {
    font-size: 1.8rem;
    font-weight: 700;
    color: #FF521B;
    text-decoration: solid white;
    text-align: center;
}

.subtitulo {
    font-size: 1rem;
    color: var(--cor-texto-suave);
    text-align: center;
    margin-top: -1.2rem;
}

.grupo {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.label {
    font-size: 0.90rem;
    font-weight: 400;
    color: var(--cor-texto-suave);
    margin-top: 1rem;
}

.input {
    background-color: #c2b19d;    
    border: 1px solid var(--cor-borda);
    border-radius: var(--raio-borda);
    padding: 0.75rem 1rem;
    color: var(--cor-texto);
    font-size: 0.95rem;
    font-weight: 500;
    transition: border-color 0.2s;  
}

.input:focus {
    border-color: #ffffff;
    box-shadow:0 0px 16px 0 rgb(109, 84, 84);
    outline: none;
}

.botao {
    background-color: #FF521B;
    color: #ffffff;
    border: none;
    border-radius: var(--raio-borda);
    margin-top: 0.9rem;
    padding: 0.6rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    transition: opacity 0.2s;
    cursor: pointer;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
}

.botao:hover {
    opacity: 0.8;
}

.erro {
    color: var(--cor-erro);
    font-size: 0.85rem;
    text-align: center;
}

.link {
    text-align: center;
    font-size: 0.90rem;
    color: var(--cor-texto-suave);
}

.link a {
    color: #FF521B;
    text-decoration: none;
    font-weight: 600;
}