.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 4rem;
}

.titulo {
    color: var(--cor-texto-suave);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.carregando {
    color: var(--cor-texto-suave);
    text-align: center;
}