.form {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-superficie);
    border: 1px solid var(--cor-borda);
    border-radius: var(--raio-borda);
    padding: 1.5rem 1rem;
    gap: 1rem;
    width: 100%;
    max-width: 400px;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.15)
}

.dataDuracao {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

.erro {
    color: var(--cor-erro);
    font-size: 0.85rem;
}

.sucesso {
    color: var(--cor-sucesso);
    font-size: 0.85rem;
}

@media (min-width: 768px) {
    .form {
        padding: 1.5rem 1.8rem;
        max-width: 600px;
    }
}